// File: _navigation.scss
// This file contains all styles related to the navigation of the site/application.

/* STYLES GO HERE */
$nav-black: #2F2F2F;

header {
    //background-color: rgb(123, 107, 161);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
}

ul {

}